.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.footer__image-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 145px;
          flex: 0 0 145px;
}
@media (max-width: 578px) {
  .footer__image-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    display: none;
  }
}

.footer__petstory {
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  display: none;
}
@media (max-width: 578px) {
  .footer__petstory {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-bottom: 50px;
  }
}

.footer__image {
  width: 82px;
  height: 52px;
}

.footer {
  padding: 41px 0 50px;
  background: #111115;
  color: white;
}
@media (max-width: 760px) {
  .footer {
    padding: 0;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
@media (max-width: 760px) {
  .footer__container {
    padding: 12px 20px;
  }
}
@media (max-width: 578px) {
  .footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    padding: 20px 10px;
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 579px) {
  .footer__logo {
    margin-bottom: 0px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.footer__image-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 368px;
          flex: 0 1 368px;
}
@media (max-width: 578px) {
  .footer__image-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.footer__subscribe {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
}
@media (max-width: 760px) {
  .footer__subscribe {
    display: none;
  }
}
@media (max-width: 578px) {
  .footer__subscribe {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (max-width: 578px) {
  .footer__empty {
    display: none;
  }
}

.footer__text {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 14px;
  padding-left: 32px;
}

.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}

.footer__input {
  width: 214px;
  height: 42px;
  background-color: #000000;
  border: 1px solid orange;
  padding-left: 10px;
  color: white;
}

.footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 140%;
  color: #bdbdbd;
}

.footer__input::-moz-placeholder {
  font-size: 16px;
  line-height: 140%;
  color: #bdbdbd;
}

.footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 140%;
  color: #bdbdbd;
}

.footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 140%;
  color: #bdbdbd;
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 140%;
  color: #bdbdbd;
}

.footer__submit:hover {
  border: 1px solid #4b9200;
  color: #4b9200;
}

.footer__submit {
  font-size: 16px;
  background: #f1f3f2;
  border: 1px solid black;
  border-radius: 5px;
  line-height: 140%;
  color: black;
  padding: 10px 39px;
}

.footer__box-button {
  padding-top: 30px;
  padding-bottom: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 578px) {
  .footer__box-button {
    padding: 0px;
  }
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 578px) {
  .footer__info {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.footer__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 368px;
          flex: 0 1 368px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media (max-width: 1500px) {
  .footer__social {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 240px;
            flex: 0 1 240px;
  }
}
@media (max-width: 894px) {
  .footer__social {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 150px;
            flex: 0 1 150px;
  }
}
@media (max-width: 760px) {
  .footer__social {
    position: absolute;
    top: 12px;
    right: 20px;
    gap: 20px;
  }
}
@media (max-width: 578px) {
  .footer__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    top: 70px;
    right: 25%;
  }
}

.footer__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
@media (max-width: 760px) {
  .footer__button {
    margin-bottom: 75px;
  }
}
@media (max-width: 578px) {
  .footer__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 0px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-item {
  background: rgba(196, 196, 196, 0.5);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: relative;
}

.social-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__menu {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 578px) {
  .footer__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 58px;
}
@media (max-width: 1500px) {
  .menu__items {
    gap: 48px;
  }
}
@media (max-width: 894px) {
  .menu__items {
    gap: 36px;
  }
}

.footer__design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  font-weight: 100;
  gap: 10px;
}
@media (max-width: 1500px) {
  .footer__design {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 240px;
            flex: 0 1 240px;
  }
}
@media (max-width: 578px) {
  .footer__design {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 30px;
  }
}

.footer__block:hover {
  color: #4b9200;
}

.footer__block:hover .social-item {
  background: #4b9200;
}

@media (max-width: 760px) {
  .footer__block > p {
    display: none;
  }
}